nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}
main {
    max-width: 840px;
}

aside {
    width: 25rem;
    margin: 2rem;
    border: 4px dotted rgba(140, 165, 40, 0.853);
    padding: 1rem;
    background-color: rgba(131, 142, 201, 0.853);
    color: rgba(11, 247, 101, 0.684);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
p { padding: 0;}
footer {
    margin-top: 18px;
    border-top: 2px solid rgba(11, 247, 101, 0.684);
    text-align: center;
}